# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Logs
logs
*.log
*.csv
*.pid
*.seed
*.pid.lock

# Build output
dist/
build/
out/
.temp/
.cache/
.next/

# Vite
.vite/

# AWS credentials (make sure not to commit these!)
*.env
.env.*
.aws/

# TypeScript
*.tsbuildinfo

# Mac system files
.DS_Store

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Coverage
coverage/
.nyc_output/

# Lambda zip files or artifacts
lambda.zip
*.lambda.js

# Tests
test-results/